
/* Verde Universidad 318055 Verde opaco  8bc9a7 Verde opaco bordes  afdbc3*/
*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
#fondo{
  width: 900px;
  height: 800px;
  border: solid 20px #afdbc3;
  background-color:#8bc9a7;
  border-top-left-radius:25% 25%;
  border-bottom-right-radius:25% 25%;
}
#verdeover{
  width: 662px;
  height: 766px;
  background-color: #318055;
  border-bottom-right-radius:25% 25%;
  margin-left: 212px;
}
#orbita{
  background-color: transparent;
  width: 570px;
  height: 570px;
  border-radius: 100%;
  border: 6px solid #afdbc3;
}


img{
  width: 60px;

}
.visibility-hidden{
  visibility: hidden;
}

.contenedor-info-anos{
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: fixed;
  border: #000 solid 1px;
}
.contenedor-info-anos:hover{
  border: 2px solid #318055;
}
.info-anos{
  position: absolute;
  top: calc(100%/0.9);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  visibility: hidden;
}
.info-anos-dos{
  width: 95px;
  left: -25px;
}

.contenedor-info-anos:hover .contenedor-info-tiempo{
  visibility: initial;
}

/*Contenedores de la información*/
.contenedor-info-tiempo{
  background-color: #fff;
  width: 380px;
  border-radius: 5%;
  position: absolute;
  border: 6px solid #fff;
}

.text-info{
  text-align: justify;
  padding-right: 35px;
  min-height: 100px;
}

.info-ano-text{
  text-align: center;
}

/* Colores de fondo*/
.bg-cyan{
    background-color: #6ed8d8;
}
.bg-gray{
    background-color: #cfd6d6;
}
.bg-red{
    background-color: #e8544a;
}
.bg-green{
  background-color:  #68c65f;
}
.bg-orange{
  background-color:  #f2ac35;
}
.bg-purple{
  background-color:  #6a5299;
}
.bg-white{
  background-color:  #fff;
}

.bg-green-opaque{
  background-color: #afdbc3;
}

.imagen{
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 100%;
}
.contenedor-imagen-der{
  position: absolute;
  right: calc(100%/-5);
  background-color: #fff;
  border-radius: 100%;
  border: solid 1px #000;
  top: calc(100%/5);
}
.contenedor-rigth{
 left: calc(100%/0.8);
}
.contenedor-info-background{
  border-radius: 5%;
  padding: 10px;
}
.triangle{
  border-style: solid;
  border-width: 15px 15px 15px 15px;
  height: 0px;
  width: 0px;
  position: absolute;
  border-color: transparent white transparent transparent;
  top: 0px;
  left: -33px;
}
.contenedor-1970{
  width: 60px;
  height: 60px;
  background-color: #afdbc3;
}
.contenedor-1970 .info-anos{
  margin-left: calc(100%/5);
}

#tallo-izquierda{
  border-style: solid;
  border-width: 500px 90px 0px 15px;
  height: 0px;
  width: 0px;
  position: absolute;
  border-color: transparent #afdbc3 transparent transparent;
  top: 286px;
  left: 420px;
}

#tallo-derecha{
  border-style: solid;
    border-width: 15px 90px 500px 1px;
    height: 0px;
    width: 0px;
    position: absolute;
    border-color: transparent transparent #fff transparent;
    top: 271px;
    left: 524px;
}
#circulo-rigth{
  top: 245px;
  left: 525px;
  position: absolute;
  width: 65px;
  height: 130px;
  background: #fff;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  border-radius: 0 100px 100px 0;
}

#circulo-left{
  top: 245px;
  left: 460px;
  position: absolute;
  width: 65px;
  height: 130px;
  background: #afdbc3;
  -moz-border-radius: 100px 0 0 100px;
  -webkit-border-radius: 100px 0 0 100px;
  border-radius: 100px 0 0 100px;
}

.rama{
  top: 239px;
  left: 321px;
  position: absolute;
}
.rectangulo{
  position: absolute;
  top: 15px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 150px 9px 12px;
  border-color: transparent #afdbc3 #afdbc3 transparent;
  left: 23px;
}
.triangulo-hoja{
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 22px 18px 48px 10px;
  border-color: transparent #afdbc3 transparent transparent;
  border-style: solid;
  transform: rotate(40deg);
}
.triangulo-1{
  transform: rotate(45deg);
  left: 4px;
}
.triangulo-2{
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 22px 18px 48px 10px;
  border-color: transparent #afdbc3 transparent transparent;
  border-style: solid;
  transform: rotate(40deg);
  left: 12px;
}
.triangulo-3{
  left: 26px;
}
.triangulo-4{
  left: 39px;
  top: -3px;
  transform: rotate(42deg);
}
.triangulo-5{
  left: 50px;
  top: -4px;
  transform: rotate(45deg);
}
.triangulo-6{
  left: 58px;
}
.triangulo-7{
  left: 73px;
  top: -4px;
  transform: rotate(44deg);
}
.triangulo-8{
  left: 85px;
  border-width: 22px 18px 34px 10px;
}
.triangulo-9{
  left: 96px;
  border-width: 28px 18px 34px 10px;
}
.triangulo-10{
  left: 111px;
  border-width: 22px 18px 34px 10px;
}
.triangulo-11{
  left: 119px;
  border-width: 22px 18px 34px 10px;
}
.triangulo-12{
  left: 127px;
  border-width: 22px 18px 38px 10px;
}
.rama-izq-1{
  top: 89px;
  transform: rotate(76deg);
  left: 499px;
}
.rama-izq-2{
  top: 133px;
  transform: rotate(39deg);
  left: 384px;
}
.rama-izq-4{
  top: 339px;
  transform: rotate(-24deg);
  left: 313px;
}
.rama-izq-5{
  top: 431px;
  transform: rotate(-50deg);
  left: 363px;
}

.rama-derecha{
  top: 258px;
  left: 521px;
  position: absolute;
}
.triangulo-hoja-derecha{
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 10px 48px 18px 22px;
  border-color: transparent transparent  #ffffff transparent;
  border-style: solid;
  transform: rotate(33deg);
}

.rectangulo-derecha{
  position: absolute;
  top: -4px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0px 12px 9px 123px;
  border-color: transparent transparent #fff #fff;
  left: 23px;
}

.triangulo-derecha-1{
  transform: rotate(45deg);
  left: 30px;
}
.triangulo-derecha-2{
  position: absolute;
  width: 0px;
  height: 0px;
  border-width: 10px 48px 18px 22px;
  border-color: transparent transparent  #ffffff transparent;
  border-style: solid;
  transform: rotate(33deg);
  left: 43px;
}
.triangulo-derecha-3{
  left: 59px;
}
.triangulo-derecha-4{
  left: 74px;
  top: -3px;
  transform: rotate(31deg);
}
.triangulo-derecha-5{
  left: 92px;
  top: -3px;
  transform: rotate(45deg);
}
.triangulo-derecha-6{
  left: 110px;
}
.triangulo-derecha-7{
  left: 126px;
  top: -4px;
  transform: rotate(44deg);
}
.triangulo-derecha-8{
  left: 141px;
}
.triangulo-derecha-9{
  left: 156px;
}
.triangulo-derecha-10{
  left: 99px;
}
.triangulo-derecha-11{
  left: 119px;
}
.triangulo-derecha-12{
  left: 127px;
}
.rama-derecha-1{
  top: 297px;
  transform: rotate(-76deg);
  left: 517px;
}
.rama-derecha-2{
  top: 273px;
  transform: rotate(-39deg);
  left: 514px;
}
.rama-derecha-4{
  top: 257px;
  transform: rotate(31deg);
  left: 537px;
}
.rama-derecha-5{
  top: 274px;
  transform: rotate(50deg);
  left: 519px;
}
