
/* Verde Universidad 318055 Verde opaco  8bc9a7 Verde opaco bordes  afdbc3*/
*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
#fondo{
  width: 900px;
  height: 800px;
  border: solid 20px #afdbc3;
  background-color:#8bc9a7;
  border-top-left-radius:25% 25%;
  border-bottom-right-radius:25% 25%;
}
#verdeover{
  width: 662px;
  height: 766px;
  background-color: #318055;
  border-bottom-right-radius:25% 25%;
  margin-left: 212px;
}
#orbita{
  background-color: transparent;
  width: 570px;
  height: 570px;
  border-radius: 100%;
  border: 6px solid #fff;
}


img{
  width: 60px;

}
.display-none{
  display: none;
}

.contenedor-info-anos{
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: fixed;
}
.contenedor-info-anos:hover{
  border: 2px solid #318055;
}
.info-anos{
  position: absolute;
  top: calc(100%/0.9);
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.info-anos-dos{
  width: 95px;
  left: -25px;
}

.contenedor-info-anos:hover .contenedor-info-tiempo{
  display: block;
}

/*Contenedores de la información*/
.contenedor-info-tiempo{
  background-color: #fff;
  width: 380px;
  border-radius: 5%;
  position: absolute;
  border: 6px solid #fff;
}

.text-info{
  text-align: justify;
  padding-right: 35px;
  min-height: 100px;
}

.info-ano-text{
  text-align: center;
}

/* Colores de fondo*/
.bg-cyan{
    background-color: #6ed8d8;
}
.bg-gray{
    background-color: #cfd6d6;
}
.bg-red{
    background-color: #e8544a;
}
.bg-green{
  background-color:  #68c65f;
}
.bg-orange{
  background-color:  #f2ac35;
}
.bg-purple{
  background-color:  #6a5299;
}

.imagen{
  width: 80px;
  height: 80px;
  padding: 10px;
  border-radius: 100%;
}
.contenedor-imagen-der{
  position: absolute;
  right: calc(100%/-5);
  background-color: #fff;
  border-radius: 100%;
  border: solid 1px #000;
  top: calc(100%/5);
}
.contenedor-rigth{
 left: calc(100%/0.8);
}
.contenedor-info-background{
  border-radius: 5%;
  padding: 10px;
}
.triangle{
  border-style: solid;
  border-width: 15px 15px 15px 15px;
  height: 0px;
  width: 0px;
  position: absolute;
  border-color: transparent white transparent transparent;
  top: 0px;
  left: -33px;
}
.contenedor-1970{
  width: 60px;
  height: 60px;
}
.contenedor-1970 .info-anos{
  margin-left: calc(100%/5);
}
