*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
#linea-del-tiempo{
  width: 1107px;
  height: 908.5px;
  border: solid 1px #1f2d3d;
  background-color:  #1f2d3d;
}

img{
  width: 60px;

}
.display-none{
  display: none;
}

.contenedor-info-anos{
  background-color: #fff;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  position: absolute;
}
.contenedor-info-anos:hover{
  border: 2px solid #318055;
}
.info-anos{
  position: absolute;
  top: calc(100%/0.9);
  color: white;
}
.info-anos-dos{
  width: 95px;
  left: -25px;
}

.contenedor-info-anos:hover .contenedor-info-tiempo{
  display: block;
}

/*Contenedores de la información*/
.contenedor-info-tiempo{
  background-color: #fff;
  width: 380px;
  border-radius: 5%;
  position: absolute;
  border: 6px solid #fff;
}

.text-info{
  text-align: justify;
  padding-right: 35px;
  min-height: 100px;
}

.info-ano-text{
  text-align: center;
}

/* Colores de fondo*/
.bg-cyan{
    background-color: #6ed8d8;
}
.bg-gray{
    background-color: #cfd6d6;
}
.bg-red{
    background-color: #e8544a;
}
.bg-green{
  background-color:  #68c65f;
}
.bg-orange{
  background-color:  #f2ac35;
}
.bg-purple{
  background-color:  #6a5299;
}
