hr{
  height: 6px;
  position: absolute;
  border: transparent;
}
.hr-pie{
  width: 130px;
  top: 780px;
  left: 480px;
}
.hr-arista{
  width: 60px;
  top: 754px;

}
.arista-1{
  left: 456px;
  transform: rotate(281deg);
}
.arista-2{
  left: 578px;
  transform: rotate(-272deg);
}
.hr-arista-tallo{
  width: 120px;
  top: 668px;
}
.arista-tallo-1{
  transform: rotate(97deg);
  left: 438px;
}
.arista-tallo-2{
    transform: rotate(-96deg);
    left: 541px;
}
.hr-arista-tallo-2{
  width: 120px;
  top: 551px;
}
.arista-tallo-3{
  transform: rotate(95deg);
  left: 450px;
}
.arista-tallo-4{
  transform: rotate(-93deg);
  left: 532px;
}

.hr-arista-tallo-3{
  width: 180px;
  top: 403px;
}
.arista-tallo-5{
  transform: rotate(94deg);
  left: 431px;
}
.arista-tallo-6{
  transform: rotate(-94deg);
  left: 493px;
}
