.contenedor-1970{
  top: 260px;
}
.contenedor-1971{
  top: 264px;
  left: 325px;
}
.contenedor-2017-2025{
  top: 354px;
  left: 328px;
}

.contenedor-2016{
  top: 427px;
  left: 390px;
}
.contenedor-2015{
  top: 427px;
  left: 482px;
}
.contenedor-2014{
  top: 499px;
  left: 469px;
}
.contenedor-2013{
  top: 570px;
  left: 459px;
}
.contenedor-2012{
  top: 638px;
  left: 446px;
}
.contenedor-2009-2011{
  top: 703px;
  left: 434px;
}
.contenedor-2007-2008{
  top: 703px;
  left: 587px;
}
.contenedor-2005-2006{
  top: 638px;
  left: 581px;
}
.contenedor-2003{
  top: 570px;
  left: 567px;
}
.contenedor-2000-2001{
  top: 499px;
  left: 556px;
}
.contenedor-1997{
  top: 427px;
  left: 541px;
}
.contenedor-1995{
  top: 427px;
  left: 616px;
}
.contenedor-1993-1994{
  top: 354px;
  left: 680px;
}
.contenedor-1989{
  top: 264px;
  left: 705px;
}
.contenedor-1978-1985{
  top: 155px;
  left: 663px;
}
.contenedor-1974-1977{
  top: 106px;
  left: 559px;
}
.contenedor-1973{
  top: 106px;
  left: 449px;
}
.contenedor-1972{
  top: 155px;
  left: 362px;
}
